{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Laudantium tenetur architecto dolor, impedit dolorem reprehenderit 
    alias neque eum mollitia quisquam ut nesciunt officia tempore omnis! 
    Dignissimos harum molestiae nostrum, iusto ea hic ipsam aliquam? 
    Voluptate velit placeat excepturi in officia sequi doloremque numquam
    magni odit. Deserunt nihil accusamus quam deleniti porro velit possimus, 
    corrupti debitis tempore atque cum harum perferendis dolores error cumque 
    facilis autem inventore. Ducimus eos assumenda nobis, distinctio nihil 
    aut atque dolore debitis? Eos nemo in recusandae possimus minima porro 
    odit praesentium odio, culpa nobis dolore cupiditate deserunt corrupti 
    inventore dolor, suscipit accusamus temporibus cumque deleniti! Dicta.
</p>
{% endblock %}